<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunline.rdp"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sunline.rdp.ui.system.RdpLoginActivity"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sunline.rdp.ui.system.RdpSystemActivity"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name="com.sunline.rdp.ui.fuzai.Dp2101"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name="com.sunline.rdp.ui.fuzai.Tl5205"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>
